@import 'normalize';
@import 'variables';
@import 'comment';
@import 'post';
@import 'profile';

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1.5;
}

body {
  background-color: #f7f3f3;
  color: $text-color;
  margin: 0;
  padding: 0;
}

a {
  color: $text-color;
  text-decoration: none;
}

.container {
  padding: 0 200px;
}

.btn-primary {
  width: 200px;
  padding: 10px 20px;
  color: #fff;
  background-color: $primary-color;
  border: 2px solid transparent;
  border-radius: 5px;
  display: inline-block;
  transition: all 0.5s ease;
  cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
}

.button-secondary {
  width: 300px;
  padding: 15px 20px;
  color: $primary-color;
  background-color: #fff;
  border: 1px solid $primary-color;
  border-radius: 5px;
}

.hidden {
  display: none;
}



// 以下確認
.btn.logout {
  display: block;
  margin: 0 auto 20px;
  padding: 8px 16px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 14px;
  text-align: center;

  &:hover {
    background-color: #c82333;
  }
}


// メッセージ表示
.notice,
.alert {
  // position: absolute;
  position: fixed;
  top: 20px; /* 上から20pxの位置に表示 */
  left: 50%;
  transform: translateX(-50%); /* 真ん中に表示 */
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 1000; /* 他の要素の上に表示されるように */
  width: auto;
  max-width: 90%; /* 必要に応じて幅を調整 */
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 影をつけて浮かせた感じに */
}

.notice {
  background-color: #dff0d8; /* 淡い緑 */
  color: #3c763d;
  border: 1px solid #3c763d;
}

.alert {
  background-color: #f2dede; /* 淡い赤 */
  color: #a94442;
  border: 1px solid #a94442;
}
