@import 'variables';

.comments-section {
  border-radius: 10px;
  background-color: #ffffff;
  max-width: 1000px;
  margin: 20px auto;

  .comment-item {
    padding: 20px;
    position: relative;

    & + .comment-item {
      border-top: 1px solid $border-color;
    }

    .comment-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .comment-user-info {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        .comment-avatar-icon {
          width: 40px;
          border: 1px solid $border-color;
          border-radius: 50%;
        }
      }
    }
  }
}

.comment-timestamp {
  color: $text-color-sub;
}

.show-comment-button, .add-comment-button {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 25px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  background-color: $primary-color;
  border-radius: 10px;
}

.comment-form-textarea {
  width: 800px;
  margin: 0 auto;

  .comment-textarea {
    width: 800px;
    height: 100px;
    margin: 20px 0;
  }
}

.delete-comment {
  color: $text-color-sub;
  position: absolute;
  top: 5px;
  right: 10px;
  padding: 5px;

  &:hover {
    color: #fff;
    background-color: $secondary-color;
    transition: background-color 0.5s;
    border-radius: 5px;
  }
}
