@import 'variables';

.home-page {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.home-text-content {
  color: $secondary-color;
  max-width: 50%;
}

.home-title-section {
  display: flex;
  align-items: center;
}

.home-primary-title {
  font-size: 55px;
}

.home-subtitle {
  font-size: 25px;
  font-weight: bold;
  margin-left: 20px;
}

.home-description-text {
  font-size: 21px;
  line-height: 1.7;
}

.home-image {
  width: 40%;
  height: auto;
}

.button-signup {
  background-color: $primary-color;
  color: white;
  font-size: 20px;
  padding: 15px 30px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
  margin-left: 200px;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}
