@import 'variables';

.post {
  border: 1px solid $border-color;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

  &-header {
    display: flex;
    justify-content: space-between;

    .user-info {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .post-avatar-icon {
        border: 1px solid $border-color;
        border-radius: 50%;
      }

      .user-name {
        color: $text-color;
      }
    }

    .post-timestamp {
      font-size: 0.8rem;
      color: $text-color-sub;
    }
  }

  &-actions {
    display: flex;
    gap: 2rem;
  }
}

.post-title-text {
  color: $text-color-sub;
}

// indexページ
.post-index {
  padding: 15px 30px;
  margin: 0 auto 20px;
  width: 1000px;

  .post-avatar-icon {
    width: 40px;
  }

  .user-name {
    font-size: 14px;
  }
}

.pencil-icon {
  position: fixed;
  bottom: 40px;
  right: 70px;
  z-index: 10;
}

// showページ
.post-show {
  max-width: 1000px;
  margin: 60px auto 20px;
  padding: 30px;

  .post-avatar-icon {
    width: 60px;
  }
}

.post-action {
  display: flex;
  gap: 10px;
  align-items: center;

  .like-image {
    width: 20px;
  }

  .post-action-message {
    font-size: 12px;
    color: $text-color;
  }
}

.post-content {
  color: $text-color-sub;
  margin-bottom: 10px;
}

.post-content-text {
  border: solid 1px $border-color;
  border-radius: 5px;
  padding: 10px;
}

.delete-post {
  padding: 10px;
  color: $text-color-sub;

  &:hover {
    color: #fff;
    background-color: $secondary-color;
    transition: background-color 0.5s;
    border-radius: 5px;
  }
}

// newページ
.post-new {
  height: 400px;
  padding: 50px 90px;
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  position: relative;

  .cancel {
    position: absolute;
    top: 25px;
    right: 30px;
    padding: 10px;

    &:hover {
      color: #fff;
      background-color: $secondary-color;
      transition: background-color 0.5s;
      border-radius: 5px;
    }
  }

  .post-avatar-icon {
    border: 1px solid $border-color;
    border-radius: 50%;
    width: 50px;
  }

  .post-form {
    display: flex;
    flex-direction: column;    /* 子要素を縦に並べる */
    align-items: center;       /* 子要素を横方向に中央寄せ */
    justify-content: center;   /* 子要素を縦方向に中央寄せ（高さ調整） */
    margin-bottom: 10px;

    &-title {
      margin-top: 15px;
    }

    &-text {
      width: 500px;
      margin-bottom: 30px;
    }

    &-textarea {
      width: 500px;
      height: 200px;
    }

    .post-btn {
      margin-top: 15px;
    }
  }
}
